$font-stack: Segoe UI, Arial, Helvetica, sans-serif;

$primary: #524069;
$primary: #c74e6c;
$primary: #3f54ce;
$primary: #ad7648;

$primary: #79ad48;
$primary-light: #bff38d;
$secondary: #bbe066;

$primary: #4863ad;
$primary-dark: darken($primary, 15%);
$primary-light: lighten($primary, 30%);
$secondary: #baa7fd;
$secondary-dark: #9687ca;

$words-a: #9687ca;
$words-b: #da872a;

$primary-text: #eee;
$secondary-text: #222;

$text-subtle: #888;

$brand-primary-color: $primary;
$brand-secondary-color: $secondary;
$light: #fff;