@import "keen-ui/src/styles/variables.scss";

.lettering {
  position: relative;
  z-index: 0;

  .container {
    background: #ddd;
    margin-bottom: 1.25em;
    padding: 1em;
    padding-top: 0;
    border-radius: 0.5em;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 50%;
      right: 100%;
      background: $brand-primary-color;
      width: 1.5em;
      height: 1.5em;
      transform: translateX(100%) translate(50%, -50%) rotate(45deg);
      transition: transform 0.25s;
    }
  }

  &.selected {
    .container {
      background: #eee;
      &::before {
        transform: translate(50%, -50%) rotate(45deg);
      }
    }
  }

  .container,
  .ui-button,
  .ui-icon-button {
    transition: background-color 0.25s;
  }
}

.lettering-header {
  display: flex;
  align-items: flex-start;
  .btn-group {
    margin: 0.5em -0.5em 0 0;
  }
}

h3 {
  margin-block-end: 0.5em;
}