@import "./material-design-icons.scss";
@import "keen-ui/src/styles/util.scss";  // rem()
@import "keen-ui/src/styles/variables.scss";

body {
  font-family: Livvic, Roboto, Arial;
  margin: 0;
  text-decoration-skip-ink: none;
}

/* supposedly needed for Keen UI... ¯\_(ツ)_/¯ */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 96%;

  @media screen and (max-width: 500px) {
    font-size: 92%;
  }
}

h1 {
  font-weight: 400;
}

h2, h3 {
  font-weight: 500;
}
h4 {
  font-weight: 600;
}

/* ******************************************* */

.row,
.btn-group {
  display: flex;
  align-items: center;
}

.btn-group {
  @media screen and (max-width: 500px) {
    button {
      width: 3rem;
      height: 3rem;
    }
  }
}

.row {
  // gap: 1em; // FF only
  > :not(:first-child) {
    margin-left: 1em;
  }
}

.link-wrapper {
  display: flex;
  align-items: center;
}

/* Keen UI fixes */

// avoid content jumping when field is focused and border thickens
// - text still jumps in text input and in Firefox in number input
.ui-textbox__input,
.ui-select.is-multiple .ui-select__display,
.ui-select .ui-select__display {
  padding-bottom: 0px;
}
.ui-textbox.is-active .ui-textbox__input {
  padding-bottom: 0px; 
}

.ui-checkbox,
.ui-switch {
  display: inline-flex;
}

.ui-switch {
  margin-bottom: 0.5rem;
  height: unset;
}

.ui-switch__label-text {
  line-height: 1; // looks better when wrapped (English, no accents)
  font-size: 1em;
  margin-left: 0.5rem;
}

.ui-checkbox.is-active {
  .ui-checkbox__label-text {
    border-bottom: 2px solid $brand-primary-color;
    margin-bottom: -2px;
  }
}

.ui-checkbox.is-checked
.ui-checkbox__checkmark::after {
  // plays nicer with html font-size scaling in FF
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}
